nodes:
  - 0.0.0.0:26657

tasks:
  - type: Faucet
    probability: 15
  - type: Transfer
    probability: 0
  - type: Delegate
    probability: 30
  - type: Unbond
    probability: 30
  - type: Withdraw
    probability: 30

settings:
  seed: 1337
  dry_run: false
  max: 150