tasks:
  - type: Faucet
    probability: 33
  - type: Transfer
    probability: 0
  - type: Delegate
    probability: 33
  - type: Unbond
    probability: 33
  - type: Withdraw
    probability: 0
  - type: InitProposal
    probability: 0
  - type: VoteProposal
    probability: 0

settings:
  dry_run: false
  total_tx: 10