nodes:
  - 0.0.0.0:26657

tasks:
  - type: Faucet
    probability: 55
  - type: Transfer
    probability: 35
  - type: Delegate
    probability: 10

settings:
  seed: 1337
  dry_run: false
  max: 1000